.App {
  font-family: sans-serif;
  text-align: center;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px 8px;
  text-align: center;
}
.highlight {
  color: red;
}
.wrapperButton {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.active {
  background-color: red;
}
.btn-add-user {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}
